/* #region font-face */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v49-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v49-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v21-latin-700.woff2") format("woff2");
}
/* #endregion font-face */
/* #region root */
:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #000000;
  --color-primary-light: #ffffff;
  --color-secondary-dark: #011c44;
  --color-secondary-grey: #4a4a4a;
  --color-background-footer: #011f4a;
  --color-background-procedure-card: #d9d9d9;
  --color-modal-form: #747272;
  --color-star-active: #7DF9FF;
  --font-title: "Play", sans-serif;
  --font-main: "Roboto", sans-serif;
  --h1-size: 64px;
  --h2-size: 32px;
  --h3-size: 22px;
  --h4-size: 22px;
  --h5-size: 18px;
  --h6-size: 16px;
  --h7-size: 13px;
  --h8-size: 14px;
  --h9-size: 12px;
  --lh-normal: normal;
  --lh-38: 38px;
  --lh-18: 18px;
  --ls-normal: normal;
}
/* #endregion root */
/* #region general */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --color-brand: #2b7fff;
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

.visually_hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.h1 {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: var(--h1-size);
}

.h2 {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: var(--h2-size);
}

.h3 {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: var(--h3-size);
}

.h4 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h4-size);
}

.h5 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h5-size);
}

.h6 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h6-size);
}

.h7 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h7-size);
}

.h8 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h8-size);
}

.h9 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h9-size);
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0px auto;
  padding: 0px 24px;
}

.accent {
  color: var(--color-brand);
}

.section-title {
  margin-bottom: 48px;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 64px;
  color: var(--color-secondary-dark);
}

.button:disabled {
  color: gray;
  background-color: lightgray;
  cursor: not-allowed;
}

/* #endregion general */
/* #region header */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 106px;
  align-content: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-logo {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 22px;
  line-height: 0.95;
  text-transform: capitalize;
  color: var(--color-brand);
}

.header-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-link {
  color: var(--color-secondary-dark);
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.2s;
}

.header-link:hover {
  color: var(--color-brand);
}

.header-social-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header-social-icon {
  fill: var(--color-secondary-dark);
}

/* .header-social-link:hover .social-icon {
  
} */
/* #endregion header */
/* #region hero */
.hero {
  padding-bottom: 68px;
  background-image: url(../images/img/group-bg-section1.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 106px;
  padding-top: 122px;
  padding-bottom: 126px;
}

.hero-subtitle {
  margin-bottom: 16px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-secondary-dark);
}

.hero-title {
  margin-bottom: 40px;
  color: var(--color-brand);
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 140px;
  line-height: 0.81;
  text-transform: capitalize;
}

.hero_button {
  margin-bottom: 14px;
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  padding: 16px 32px;
  /* width: 219px; */
  height: 54px;
  background-color: transparent;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 18px;
  color: var(--color-secondary-dark);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.hero_button:hover {
  background-color: var(--color-brand);
  color: var(--color-primary-light);
}

.hero-offer {
  margin-bottom: 0;
  color: var(--color-secondary-grey);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
/* #endregion hero */
/* #region about section */

.about-us-section {
  transform: translateY(-40px);
  padding-bottom: 84px;
  overflow: hidden;
}

.about-us {
  position: relative;
}

.about-star {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) skew(20deg, 360deg);
    opacity: 1;
  }
  25% {
    transform: rotate(180deg);
    opacity: 0.75;
  }
  50% {
    transform: rotate(360deg);
    opacity: 1;
    
  }
  75% {
    transform: rotate(-180deg);
    opacity: 0.75;
  }
  100% {
    transform: rotate(0deg) scale(1.5);
    opacity: 1;
    fill: #7DF9FF;
  }
}

.star-dark {
  top: 50%;
  left: 70%;
  fill: var(--color-background-footer);
  transform: rotate(4deg);
  animation-delay: 1s; 
  animation-duration: 5s;
}

.star-blue {
  top: 34px;
  right: 0px;
  fill: var(--color-brand);
  transform: rotate(6deg);
  animation-delay: 0s;
}

.star-grey {
  top: 270px;
  right: 18px;
  fill: var(--color-modal-form);
  transform: rotate(0deg);animation-delay: 3s;
}

.about-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 709px;
  padding-top: 40px;
}

.about-section-title {
  margin-bottom: 40px;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 64px;
  color: var(--color-secondary-dark);
}

.section-title-accent {
  color: var(--color-brand);
  text-transform: capitalize;
}

.about-text {
  font-family: var(--font-main);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.73;
  color: var(--color-secondary-dark);
}

.about-strong {
  font-weight: 600;
  text-transform: capitalize;
}

/* .about-images {
  position: absolute;
  width: 499px;
  height: 695px;
  left: 841px;
  top: 657px;
} */

.about-img {
  width: 336px;
  height: 336px;
  border-radius: 50%;
}

/* .about-img.top {
  width: 327px;
  height: 327px;
  filter: drop-shadow(0px 4px 4px rgba(168, 198, 245, 0.2));
}

.about-img.bottom {
  width: 327px;
  height: 328px;
  margin-left: 172px;
  filter: drop-shadow(0px 4px 4px rgba(168, 198, 245, 0.2)); */

.about-images {
  /* Прибираємо absolute, left та top */
  position: relative; /* Залишаємо тільки для внутрішнього зміщення фото */
  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* Щоб фото не стискалися */
  width: 500px; /* Загальна ширина блоку з фото */
}

.about-img.top {
  width: 327px;
  height: 327px;
  /* Фото вже на місці */
}

.about-img.bottom {
  width: 327px;
  height: 328px;
  margin-top: 100px; /* Робимо накладання як на макеті */
  margin-left: auto; /* Зміщуємо вправо відносно першого фото */
}

/* #endregion about section */

.wave {
  background-image: url(../images/img/background.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 100px;
  height: 1506px;
}
/* #region why us */
.why-us-section {
  padding-top: 84px;
  padding-bottom: 48px;
  display: flex;
  text-align: center;
}

.why-us-container {
  max-width: 1108px;
  width: 100%;
  height: 377px;
}

.why-us-list {
  display: flex;
  flex-direction: row;
  gap: 56px;
  justify-content: space-between;
}

.why-us-items {
  border-radius: 32px;
  width: 316px;
  height: 181px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: var(--color-primary-light);
}

.why-us-figure {
  margin: 24px 0;
}

.why-us-icon {
  width: 48px;
  height: 48px;
  fill: var(--color-brand);
}

.why-us-text {
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  color: var(--color-primary-dark);
}
/* #endregion why us */
/* #region procedures */

.procedures-section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.section-title.center {
  text-align: center;
}

.procedures-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

.procedures-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.procedures-item {
  flex: 0 0 auto;
}

.procedure-card {
  width: 344px;
  height: 456px;
  position: relative;
  overflow: hidden;
  border-radius: 4px 120px 4px 120px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 32px;
  gap: 16px;
  transition: transform 0.2s;
}

.procedure-card:hover {
  transform: scale(1.05);
}

.procedure-card::after {
  position: absolute;
  inset: 0;
  border-radius: 0;
  z-index: 3;
  pointer-events: none;
  content: "";
}

.procedure-figure {
  margin-bottom: 0;
}

.procedure-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px 120px 4px 120px;
  position: absolute;
  inset: 0;
  z-index: 0;
}

.procedure-card::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 45%,
    rgba(1, 28, 68, 0.73) 100%
  );

  z-index: 1;
}

.procedure-title {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 0;
  font-family: var(--font-main);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.18;
  color: var(--color-primary-light);
}

.slider-icon {
  /* fill: var(--color-primary-light); */
  stroke-width: 2px;
  stroke: var(--color-secondary-dark);
  transition: stroke 0.2s;
}

.slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid var(--color-secondary-dark);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.slider-btn:hover {
  background-color: var(--color-brand);
}

.slider-btn:hover .slider-icon {
  stroke: var(--color-primary-light);
}

.prev {
  left: 0;
  transform: translateX(-50%);
}

.next {
  right: 0;
  transform: translateX(50%);
}

.procedure-card:hover::before {
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0.1) 40%,
    rgba(1, 28, 68, 0.9) 100%
  );
  transition: 0.4s ease-in-out;
}

/* #endregion procedures */
/* #region contacts */

.contacts-section {
  padding-top: 48px;
  padding-bottom: 96px;
}

.contacts-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.contacts-form {
  position: relative;
  width: 100%;
  max-width: 422px;
  height: 100%;
  max-height: 482px;
  padding: 48px 56px;
  border-radius: 32px;
  background-color: var(--color-secondary-dark);
}

.contact_text {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--color-primary-light);
}

.contact_field {
  margin-bottom: 16px;
}

.contacts-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}
/* .container.contacts {
  margin-left: 100px;
} */

/* #endregion contacts */
/* #region footer */

.footer-section {
  position: relative;
  background-image: url(../images/img/bg-footer.png.png);
  background-color: var(--color-secondary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  padding: 56px 0;
  margin: 0px;
}

.footer-section::after {
  position: absolute;

  background-image: url(../images/img/footer-PhotoRoom.png);
  background-repeat: repeat, no-repeat;
  width: 250px;
  height: 150px;
  bottom: 0;
  right: 0;
  content: "";
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo {
  flex-grow: 1;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  justify-content: start;
}

.footer-link {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.2s;
}

.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* .footer-contacts-item {
} */

.footer-address-link {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.2s;
}

.footer-address-link:hover {
  color: var(--color-primary-dark);
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

/* .footer-social-item {

} */

.footer-social-link {
  color: var(--color-primary-light);
}

.footer-social-icon {
  width: 42px;
  height: 42px;
  fill: var(--color-primary-light);
}

/* .footer-social-link:hover .social-icon {
 
} */

.footer-legal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-policy {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.2s;
}
.footer-copyright {
  color: var(--color-secondary-grey);
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

.footer-policy:hover,
.footer-link:hover {
  color: var(--color-primary-dark);
}
/* #endregion footer */
/* #region modal */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s, visibility 0.2s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 680px;
  padding: 42px 144px;
  background-color: var(--color-secondary-dark);
  border-radius: 48px;
  overflow-y: auto;
}

.modal-btn-open {
  cursor: pointer;
}

.modal-btn-close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s;
}

.modal-close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: var(--color-primary-light);
}

/* .modal-btn-close:hover {
  transform: rotate(90deg);
} */

/* .contact-form {

} */

.form_title {
  margin-bottom: 40px;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: var(--color-primary-light);
}

.form_text {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--color-primary-light);
}

.form_field {
  margin: 0 auto 24px;
  max-width: 310px;
}

.form_label {
  display: block;
}

.form_input {
  width: 100%;
  padding: 18px 32px;
  border: 2px solid var(--color-modal-form);
  border-radius: 32px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  background-color: transparent;
  color: var(--color-primary-light);
}

.form_input:focus {
  outline: none;
  background-color: var(--color-modal-form);
}

.form_input::placeholder {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: var(--color-primary-light);
}

.form_button {
  padding: 16px 32px;
  height: 54px;
  border: 2px solid var(--color-brand);
  background-color: transparent;
  border-radius: 48px;
  color: var(--color-primary-dark);
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.form_button:hover {
  background-color: var(--color-brand);
  color: var(--color-primary-light);
}

.button {
  display: block;
  margin: 0 auto;
}

.form_policy {
  margin: 8px auto;
  max-width: 210px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-modal-form);
}

.form_policy_link {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-modal-form);
  text-underline-offset: 2px;
}

/* #endregion modal */
