/* #region font-face */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v49-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v49-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v21-latin-700.woff2") format("woff2");
}
/* #endregion font-face */
/* #region root */
:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #000000;
  --color-primary-light: #ffffff;
  --color-secondary-dark: #011c44;
  --color-secondary-grey: #4a4a4a;
  --color-background-footer: #011f4a;
  --color-background-procedure-card: #d9d9d9;
  --font-title: "Play", sans-serif;
  --font-main: "Roboto", sans-serif;
  --h1-size: 64px;
  --h2-size: 32px;
  --h3-size: 22px;
  --h4-size: 22px;
  --h5-size: 18px;
  --h6-size: 16px;
  --h7-size: 13px;
  --h8-size: 14px;
  --h9-size: 12px;
  --lh-normal: normal;
  --lh-38: 38px;
  --lh-18: 18px;
  --ls-normal: normal;
}
/* #endregion root */
/* #region general */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(../images/img/background-site.png);
  --color-brand: #2b7fff;
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0px auto;
  padding: 0px 24px;
}

.h1 {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: var(--h1-size);
}

.h2 {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: var(--h2-size);
}

.h3 {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: var(--h3-size);
}

.h4 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h4-size);
}

.h5 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h5-size);
}

.h6 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h6-size);
}

.h7 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h7-size);
}

.h8 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h8-size);
}

.h9 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h9-size);
}

.accent {
  color: var(--color-brand);
}

.section-title {
  margin-bottom: 48px;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 64px;
  color: var(--color-secondary-dark);
}

/* #endregion general */
/* #region header */
.header {
  padding-bottom: 8px;
  width: 100%;
  max-width: 1440px;
  height: 106px;
  margin: 0px auto;
  align-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  /* gap: 40px; */
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-logo {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 22px;
  line-height: 0.95;
  text-transform: capitalize;
  color: var(--color-brand);
}

.header-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-link {
  color: var(--color-secondary-dark);
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand);
}

.header-social-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header-social-icon {
  fill: var(--color-secondary-dark);
}

/* .header-social-link:hover .social-icon {
  
} */
/* #endregion header */
/* #region hero */
.hero {
  padding-top: 8px;
  background-image: url(../images/img/bg-section-1.jpg);
  background-position: calc(100% - 312px) top;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 126px;
  gap: 40px;
}

.hero-subtitle {
  margin-bottom: 16px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-secondary-dark);
}

.hero-title {
  margin-bottom: 40px;
  color: var(--color-brand);
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 140px;
  line-height: 0.81;
  text-transform: capitalize;
}

.hero-button {
  margin-bottom: 14px;
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  padding: 16px 32px;
  width: 219px;
  height: 53px;
  background: var(--color-brand);
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 15px;
  color: var(--color-primary-light);
  cursor: pointer;
}

.hero-button:hover {
  background-color: transparent;
  color: var(--color-primary-dark);
}

.hero-offer {
  margin-bottom: 0;
  color: var(--color-secondary-grey);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
/* #endregion hero */
/* #region about section */

.about-us-section {
  padding-bottom: 168px;
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  align-content: center;
}

.about-text-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
}

.about-section-title {
  margin-bottom: 40px;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 64px;
  color: var(--color-secondary-dark);
}

.section-title-accent {
  color: var(--color-brand);
  text-transform: capitalize;
}

.about-text {
  font-family: var(--font-main);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.73;
  color: var(--color-secondary-dark);
}

.about-strong {
  font-weight: 600;
  text-transform: capitalize;
}

.about-images {
  width: 499px;
  height: 695px;
  left: 841px;
  top: 657px;
}

.about-img {
  width: 336px;
  height: 336px;
  border-radius: 50%;
}

.about-img.top {
  width: 327px;
  height: 327px;
  left: 841px;
  top: 657px;

  filter: drop-shadow(0px 4px 4px rgba(168, 198, 245, 0.2));
}

.about-img.bottom {
  width: 327px;
  height: 328px;
  left: 1013px;
  top: 1024px;
  filter: drop-shadow(0px 4px 4px rgba(168, 198, 245, 0.2));
}

/* #endregion about section */
/* #region why us */
.why-us-section {
  display: flex;
  text-align: center;
  padding-bottom: 104px;
}

.why-us-container {
  max-width: 1060px;
  width: 100%;
  height: 377px;
}

.why-us-list {
  display: flex;
  flex-direction: row;
  gap: 56px;
  justify-content: space-between;
}

.why-us-items {
  border-radius: 32px;
  width: 316px;
  height: 181px;
  flex-basis: calc((100% - 112px) / 3);
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: var(--color-primary-light);
}

.why-us-figure {
  margin: 24px 0;
}

.why-us-icon {
  width: 48px;
  height: 48px;
  fill: var(--color-brand);
}

.why-us-text {
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  color: var(--color-primary-dark);
}
/* #endregion why us */
/* #region procedures */

.procedures-section {
  padding-bottom: 96px;
}

.section-title.center {
  text-align: center;
}

.procedures-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

.procedures-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

/* КАРТКИ */
.procedures-item {
  flex: 0 0 auto;
}

.procedure-card {
  width: 344px;
  height: 456px;
  position: relative;
  overflow: hidden;
  border-radius: 4px 120px 4px 120px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 32px;
  gap: 16px;
}

.procedure-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0;
  z-index: 3;
  pointer-events: none;
}

/* ЗОБРАЖЕННЯ */
.procedure-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px 120px 4px 120px;
  position: absolute;
  inset: 0;
  z-index: 0;
}

/* ЗАТЕМНЕННЯ */
.procedure-card::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 45%,
    rgba(1, 28, 68, 0.73) 100%
  );

  z-index: 1;
}

/* ТЕКСТ */
.procedure-title {
  position: relative;
  z-index: 2;
  text-align: center;

  font-family: var(--font-main);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.18;
  color: var(--color-primary-light);
}

/* СТРІЛКИ */
.slider-icon {
  /* fill: var(--color-primary-light); */
  stroke-width: 2px;
  stroke: var(--color-secondary-dark);
}

.slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid var(--color-secondary-dark);
  cursor: pointer;
}

.slider-btn:hover {
  background-color: var(--color-brand);
}

.slider-btn:hover .slider-icon {
  stroke: var(--color-primary-light);
}

.prev {
  left: 0;
  transform: translateX(-50%);
}

.next {
  right: 0;
  transform: translateX(50%);
}

/* ХОВЕР ЕФЕКТ */
.procedure-card:hover::before {
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0.1) 40%,
    rgba(1, 28, 68, 0.9) 100%
  );
  transition: 0.4s ease-in-out;
}

/* #endregion procedures */
/* #region contacts */

.contacts-section {
  padding-bottom: 94px;
}

.contacts-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.contacts-form {
  border-radius: 32px;
}

.contacts-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}
/* .container.contacts {
  margin-left: 100px;
} */

/* #endregion contacts */
/* #region footer */

.footer-section {
  background-color: var(--color-background-footer);
  background-image: url(../images/img/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  padding: 56px 0px;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo {
  flex-grow: 1;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  justify-content: start;
}

.footer-link {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
}

.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-contacts-item {
  flex-direction: column;
}

.footer-address-link {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
  /* gap: 16px; */
}

.footer-address-link:hover {
  color: var(--color-primary-dark);
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

/* .footer-social-item {

} */

.footer-social-link {
  color: var(--color-primary-light);
}

.footer-social-icon {
  width: 42px;
  height: 42px;
  fill: var(--color-primary-light);
}

/* .footer-social-link:hover .social-icon {
 
} */

.footer-legal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.footer-policy {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
}
.footer-copyright {
  color: var(--color-secondary-grey);
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

.footer-policy:hover,
.footer-link:hover {
  color: var(--color-primary-dark);
}
/* #endregion footer */
