*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --color-brand: #2b7fff;
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  margin: 0;
}

h1 {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: var(--h1-size);
  margin-top: 0;
}
h2 {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: var(--h2-size);
  margin-top: 0;
}
h3 {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: var(--h3-size);
  margin-top: 0;
}
h4 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h4-size);
  margin-top: 0;
}
h5 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h5-size);
  margin-top: 0;
}

p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}
