@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/fonts";
@import "./utils/typography";
@import "./utils/utils";

@import "./base";

@import "./components/buttons";
@import "./components/links";
@import "./components/header";
@import "./components/hero_section";
@import "./components/about_section";
@import "./components/why_us_section";
@import "./components/procedures_section";
@import "./components/contacts_section";
@import "./components/footer";
@import "./components/modal";
