@import "./utils/animations";
@import "./utils/fonts";
@import "./utils/mixins";
@import "./utils/typography";
@import "./utils/utils";
@import "./utils/variables";

@import "./base";

@import "./components/buttons";
@import "./components/forms";
@import "./components/input";
@import "./components/links";
@import "./components/procedure-card";
@import "./components/slider-btn";
@import "./components/socials";
@import "./components/why-us-figure";

@import "./layouts/about";
@import "./layouts/contacts-section";
@import "./layouts/footer";
@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/mobile-menu";
@import "./layouts/modal";
@import "./layouts/procedures-section";
@import "./layouts/why-us-section";
