.form_button {
  padding: 16px 32px;
  height: 54px;
  border: 2px solid var(--color-brand);
  background-color: transparent;
  border-radius: 48px;
  color: var(--color-primary-dark);
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: var(--color-brand);
    color: var(--color-primary-light);
  }
}

.button {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  cursor: pointer;

  &:disabled {
    color: gray;
    background-color: lightgray;
    cursor: not-allowed;
  }
}



.modal-btn-open {
  cursor: pointer;
}

.modal-btn-close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s;
}

.modal-close-btn {
  position: absolute;
  top: 40px;
  right: 40px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    color: var(--color-primary-light);
    fill: currentColor;
  }
}