.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--color-secondary-dark);
  background-color: transparent;
  cursor: pointer;
  fill: var(--color-secondary-dark);
  transition: all 0.3s;

  &:hover {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    fill: var(--color-primary-light);
  }

  &__rigth {
    transform: rotate(0deg);
  }
}
