.contact-form {
  position: relative;
  width: 100%;
  max-width: 422px;
  height: 100%;
  max-height: 482px;
  padding: 48px 56px;
  border-radius: 32px;
  background-color: var(--color-secondary-dark);
  background-image: url("../images/img/bgc_contact_forms.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    margin-bottom: 32px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: var(--color-primary-light);
  }

  &__field {
    margin-bottom: 16px;
  }

  &__button {
    padding: 16px 32px;
    height: 54px;
    border: 2px solid var(--color-brand);
    background-color: var(--color-brand);
    border-radius: 48px;
    color: var(--color-primary-light);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition:
      background-color 0.2s,
      color 0.2s;

    &:hover {
      background-color: transparent;
      color: var(--color-primary-dark);
    }
  }
}
.form-terms {
  &__policy {
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
    color: var(--color-modal-form);
    line-height: 1.33;
  }

  &__link {
    color: var(--color-modal-form);
    text-decoration: underline;
  }
}
