.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;

  &__button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-modal-form);
    cursor: pointer;

    &--active {
      background-color: var(--color-brand);
    }
  }

  @media screen and (min-width: $bp-desktop) {
    gap: 24px;
    margin-top: 24px;

    &__button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-modal-form);
    cursor: pointer;

    &--active {
      background-color: var(--color-brand);
    }
  }
  }
}
