// .pagination {
//   margin-top: 16px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 16px;

//   @media screen and (min-width: $bp-desktop) {
//     margin-top: 32px;
//     gap: 24px;

//     &__button {
//       width: 12px;
//       height: 12px;
//       padding: 0;
//       background-color: var(--color-modal-form);
//       border-radius: 50%;
//       border-color: transparent;
//     }

//     &__button:hover {
//       background-color: var(--color-brand);
//     }

//     &__button--active {
//       background-color: var(--color-brand);
//     }
//   }
// }

// ПАГІНАЦІЯ (Окремий блок)
.pagination {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;

  &__button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #808080; // Сірий для неактивних
    cursor: pointer;

    &--active {
      background-color: var(--color-brand); // Синій для активного
    }
  }
}
