.procedures__carusl-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  border: 1px solid #011c44;
  background-color: transparent;
  color: #011c44;

  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  &:hover {
    background-color: var(--color-brand);
    color: #ffffff;
    border-color: var(--color-brand);
  }

  &__icon {
    fill: currentColor;
    transition: fill 0.2s;
  }

  &--prev {
     transform: rotate(0deg);
  }
  &--next {
     transform: rotate(0deg);
  }
}
