.why-us-figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
  
  @media screen and (min-width: $bp-desktop) {
    margin: 24px 0;
  }

  &__icon {
    width: 48px;
    height: 48px;
    fill: var(--color-brand);
  }

  &__text {
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    color: var(--color-primary-dark);
  }
}
