.about {
  padding-top: 40px;

  &__container {
    position: relative;
    width: 100%;
    max-width: 1240px;
  }

  &__star {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    animation: spin 10s linear infinite;
  }

  &__star--dark {
    top: 50%;
    left: 70%;
    fill: var(--color-background-footer);
    animation-duration: 5s;
  }

  &__star--blue {
    top: 34px;
    right: 0;
    fill: var(--color-brand);
  }

  &__star--grey {
    top: 270px;
    right: 18px;
    fill: var(--color-modal-form);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: 40px;
  }

  &__section-title {
    margin-bottom: 40px;
    text-transform: capitalize;
  }

  &__text {
    font-family: var(--font-main);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.73;
    color: var(--color-secondary-dark);

    &--limited {
      max-width: 708px;
    }
  }

  &__images {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 500px;
  }

  &__img {
    width: 336px;
    height: 336px;
    border-radius: 50%;
  }

  &__img--top {
    width: 327px;
    height: 327px;
  }

  &__img--bottom {
    width: 327px;
    height: 328px;
    margin-top: 100px;
    margin-left: auto;
  }
}
