
.contacts-section {
  padding: 20px 0 0;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row-reverse;
      gap: 32px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 48px;
      font-size: 64px;
      font-weight: 700;
      // text-transform: capitalize;
    }
  }

  &__form {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    height: auto;

    @media screen and (min-width: $bp-desktop) {
      margin: 0;
    }
  }

  &__map {
    margin: 0 -24px;
    height: 232px;
    border: none;
    display: block;

    @media screen and (min-width: $bp-tablet) {
      width: 100%;
      height: 482px;
      border-radius: 32px;
    }
  }
}
