.contacts-section {
  padding: 48px 0 96px;

  &__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
  }

  &__map {
    flex-shrink: 0;
    width: 100%;
    max-width: 600px;
    height: 482px;
    border: none;
    border-radius: 32px;
  }
}
