
.footer {
  padding: 32px 0;
  position: relative;
  text-align: center;
  background-color: var(--color-secondary-dark);
  background-image: url(../images/img/bg-footer@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  margin: 0;

  @media screen and (min-width: $bp-tablet) {
     padding: 56px 0;
    text-align: left;
    background-image: url(../images/img/bg-footer.png);
  }

  &::after {
    content: "";
    position: absolute;
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      background-image: url(../images/img/footer-PhotoRoom.png);
      background-repeat: no-repeat;
      width: 250px;
      height: 150px;
      bottom: 0;
      right: 0;
    }
  }

  &__container {
    display: grid;
    gap: 16px;
    justify-items: center;

    grid-template-areas:
      "logo"
      "nav"
      "policy"
      "social"
      "copyright";
  }

  &__nav,
  &__address,
  &__contacts,
  &__legal {
    display: contents;
  }

  &__logo {
    grid-area: logo;
    margin-bottom: 0;
  }

  &__menu {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__socials {
    grid-area: social;
    display: flex;
    justify-content: center;
  }

  &__policy {
    grid-area: policy;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-primary-light);
    text-decoration: none;

    &:hover {
      color: var(--color-primary-dark);
    }
  }

  &__copyright {
    grid-area: copyright;
    color: var(--color-secondary-grey);
    font-size: 13px;
    font-weight: 400;
  }

  &__address-list {
    display: none;
  }

  @media screen and (min-width: $bp-tablet) {
    &__container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
    }

    &__nav,
    &__address {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-basis: 50%;
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex-grow: 1;
    }

    &__legal {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex-grow: 1;
    }

    &__address-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__socials {
      justify-content: flex-start;
      gap: 24px;
    }

    &__logo {
      margin-bottom: 42px;
      font-family: var(--font-title);
      font-weight: 700;
      font-size: 24px;
      line-height: 0.88;
      text-transform: capitalize;
      color: var(--color-brand);
      flex-grow: 1;
    }
  }
}