.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  // margin-top: 16px;

  @media screen and (min-width: $bp-desktop) {
    height: 106px;
    align-content: center;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__logo {
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 16px;
    line-height: 0.95;
    text-transform: capitalize;
    color: var(--color-brand);

    // @media screen and (min-width: $bp-desktop) {
    //   font-size: 22px;
    // }
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 56px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__address {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-primary-light);

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  .socials--header {
    gap: 32px;

    .socials__icon {
      width: 32px;
      height: 32px;
      fill: var(--color-secondary-dark);
    }

    .socials__link:hover {
      fill: var(--color-primary-dark);
    }
  }
}
