.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 106px;
  align-content: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__logo {
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 22px;
    line-height: 0.95;
    text-transform: capitalize;
    color: var(--color-brand);
  }

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
  }

  &__address {
    display: block;
  }

  &__social-menu {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__social-icon {
    fill: var(--color-secondary-dark);
  }

  .socials--header {
    gap: 32px;

    .socials__icon {
      width: 32px;
      height: 32px;
      fill: var(--color-secondary-dark);
    }

    .socials__link:hover {
      fill: var(--color-primary-dark);
    }
  }
}
