.hero-section {
  background-image: url("../images/img/fon_section1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

// &__container {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   text-align: left;
//   padding-left: 106px;
//   padding-top: 122px;
//   padding-bottom: 126px;
// }

&__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 16px; // мобайл
}

@media screen and (min-width: $bp-tablet) {
  .hero-section__container {
    align-items: flex-start;
    text-align: left;
    padding: 122px 0 126px 106px;
  }
}


  &__subtitle {
    margin-bottom: 16px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-secondary-dark);

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
      
    }
  }

  &__title {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
    color: var(--color-brand);
    font-family: var(--font-title);
    font-weight: 700;
    flex-direction: row;
    font-size: 54px;
    line-height: 0.85;
    text-transform: capitalize;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: column;
      margin-bottom: 40px;
      font-size: 140px;
      line-height: 0.81;
    }
  }

  &__button {
    margin-bottom: 8px;
    border: 2px solid var(--color-brand);
    border-radius: 24px;
    padding: 12px 24px;
    // width: 186px;
    height: 44px;
    background-color: var(--color-brand);
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 16px;

    color: var(--color-primary-light);
    cursor: pointer;
    transition:
      background-color 0.2s,
      color 0.2s;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 14px;
      border-radius: 32px;
      padding: 16px 32px;
      // width: 219px;
      height: 54px;
      font-size: 18px;
    }
  }

  &__button:hover {
    background-color: transparent;
    color: var(--color-secondary-dark);
  }

  &__offer {
    margin-bottom: 0;
    color: var(--color-secondary-grey);
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 11px;
    line-height: 1.64;
    text-align: left;

    @media screen and (min-width: $bp-tablet) {
      font-size: 12px;
      line-height: 1.5;
      text-align: center;
    }
  }
}
