.hero-section {
  background-image: url("../images/img/fon_section1.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 106px;
    padding-top: 122px;
    padding-bottom: 126px;
  }

  &__subtitle {
    margin-bottom: 16px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-secondary-dark);
  }

  &__title {
    margin-bottom: 40px;
    color: var(--color-brand);
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 140px;
    line-height: 0.81;
    text-transform: capitalize;
  }

  &__button {
    margin-bottom: 14px;
    border: 2px solid var(--color-brand);
    border-radius: 32px;
    padding: 16px 32px;
    height: 54px;
    background-color: transparent;
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 18px;
    color: var(--color-secondary-dark);
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }

  &__button:hover {
    background-color: var(--color-brand);
    color: var(--color-primary-light);
  }

  &__offer {
    margin-bottom: 0;
    color: var(--color-secondary-grey);
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
  }
}
