.procedures-section {
  padding-top: 48px;
  padding-bottom: 48px;

  &__slider {
    position: relative;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  &__btn--prev {
    left: 0;
    transform: translate(-50%, -50%);
  }

  &__btn--next {
    right: 0;
    transform: translate(50%, -50%);
  }

  &__icon {
    width: 18px;
    height: 15px;
    fill: currentColor;
    stroke: none;
    transition: fill 0.2s;
  }

  &__list {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
