.why-us-section {
  display: flex;
  text-align: center;
  padding-top: 84px;
  padding-bottom: 48px;

  &__container {
    max-width: 1108px;
    width: 100%;
    height: 377px;
  }
&__list {
  display: flex;
  flex-direction: row;
  gap: 56px;
  justify-content: space-between;
}

&__items {
  border-radius: 32px;
  width: 316px;
  height: 181px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: var(--color-primary-light);
}

&__figure {
  margin: 24px 0;
}

&__icon {
  width: 48px;
  height: 48px;
  fill: var(--color-brand);
}

&__text {
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  color: var(--color-primary-dark);
}
}


