

.why-us-section {
  padding: 20px 0 20px;
  text-align: center;

  @media screen and (min-width: $bp-desktop) {
    padding: 84px 0 48px;
  }

  &__container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $bp-desktop) {
      max-width: 1108px;
    }
  }

   &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style: none;
    padding: 0;
    // margin: 0 auto;
    // width: 100%;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      gap: 56px;
      justify-content: center;
    }
  }

  &__title {
    // width: 100%;
    margin: 0 53px 24px;
    max-width: 210px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.1;
    color: var(--color-secondary-dark);
    text-transform: none;

    @media screen and (min-width: $bp-desktop) {
      max-width: 100%;
      font-weight: 700;
      font-size: 64px;
      line-height: 1.33;
      margin: 0 auto 48px;
    }

    .text-brand {
      display: block;
      white-space: nowrap;
      text-transform: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
        margin-top: 4px;
      }
    }
  }


  &__items {
    margin: 0;
    border-radius: 32px;
    width: 316px;
    height: 181px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
    background: var(--color-primary-light);

    display: flex;
    align-items: center;
    justify-content: center;
    
  }
}
